<section>
    <div class="header">
        <div class="logoImg">
            <img src="assets/logo.png" alt="Logo" class="logo">
        </div>
        <div>
            <button (click)="toggleSidebar()" class="toggle-button"><i class="fas fa-bars"></i></button>
            <div [ngClass]="{'sidebar-open': isSidebarOpen, 'sidebar-closed': !isSidebarOpen}" class="sidebar">
                <button (click)="toggleSidebar()" class="close-button"><i class="fas fa-times"></i></button>
                <p>Page 1</p>
            </div>
        </div>
    </div>
    <div class="mainContent">
        <div class="contentFirst">
                <h5>ONLINE LEARNING</h5>
                <h1>Learn <span class="contentThick">Everyday</span></h1>
                <p class="contentFirstPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="readmorebtn">READ MORE</a>
                <p class="feepikImg">Image by <a class="textBorder">Freepik</a></p>
        </div>
        <div class="imgFirst">
                <img src="assets/-min.jpg">
        </div>
    </div>
    <div class="secondContent">
        <div class="leftSideSecondContent">
            <div class="leftSideSecondImg">
                <img src="assets/wef-min.jpg">
            </div>
            <div class="leftSideCircle">

            </div>    
        </div>
        <div class="rightSideSecondContent">
            <p class="contentSecondPara1">Get access to high quality learning!</p>
            <h1>Join online courses <span class="contentThick">today</span></h1>
            <p class="contentSecondPara">Etiam velit purus, vehicula quis imperdiet dignissim, convallis vitae nisl. Nullam facilisi. Pellentesque non pulvinar justo. Nullam eget neque ut tellus ornare ullamcorper ulla ambco mattis for nulla glavrida egesed!</p>
            <p class="feepikImg2">Image by <a class="textBorder">Freepik</a></p>
            <a class="readmorebtn2">READ MORE</a>

        </div>
    </div>
    <div class="thirdContent">
        <div class="contentThird">
                <h1>Train Your Brain Today!</h1>
                <p class="contentThirdPara">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in ​reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p class="feepikImg3">Image by <a class="textBorder">Freepik</a></p>
                <a class="readmorebtn3">ALL COURSES</a>
        </div>
        <div class="imgThird">
                <img src="assets/gfg-min.jpg">
        </div>
      
    </div>
    <div class="containerFour">
        <div class="left-column">
            <h2><span class="containerFourleft">Learn to enjoy <br></span>every minute of your life.</h2>
            <p>
            Volutpat odio facilisis mauris sit amet massa. Aenean et tortor at risus viverra adipiscing at. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Cursus metus aliquam eleifend mi. Duis ut diam quam nulla porttitor massa. Turpis egestas pretium aenean pharetra magna ac placerat. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer.</p>
        </div>
        <div class="right-column">
            <p>Varius morbi enim nunc faucibus a pellentesque. Arcu bibendum at varius vel pharetra vel turpis nunc. Eu ultrices vitae auctor eu augue ut lectus arcu. Vulputate sapien nec sagittis aliquam malesuada. Massa enim nec dui nunc mattis enim. Lectus proin nibh nisl condimentum id.</p>
        </div>
    </div>
    <div class="containerFifth">
        <div class="containerFive">
            <div class="containerFiveLeft">
                <h1>Online<span class="containerFiveHeading">Lear<br>ning</span></h1>
                <p class="containerFivePara">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                <a class="containerFivebtn">LEARN MORE</a>
            </div>
            <div class="containerFifthCircle">

            </div>
        <div class="containerFiveRight">
            <div class="feepikImg5">
                <p class="feepikImgText">IMAGE BY <a class="textBorder">Freepik</a></p>
            </div>
                <img src="assets/imgess.png">
        </div>
        </div>
    </div>
    <div class="containerSix">
        <h1>Innovations <Span class="containerSixStyle">in Online Learning</Span></h1>
        <!-- <div>
            <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-4a4f" style="enable-background:new 0 0 160 160;"><path d="M151.7,132.5c-3.4,6-7.9,11.7-13.3,16.5c-29.2,26.1-54.1-2.3-88.2-3S0,109.5,0,91.6s14.8-31.3,25.3-45.3S33.4,11,51.8,3
                c15.3-6.6,33.6-0.4,51.6,0.7c11.2,0.7,28.8-3.8,38.2,0.4s11.8,15.4,9.2,22.8c-1.9,5.4-5.5,11.6-12.8,16.5
                c-9.3,10.1-4.7,22.9,3.7,33.4c7.8,9.7,17.7,11.7,18.3,23.5C160.4,110.8,157.6,122.2,151.7,132.5L151.7,132.5z"></path></svg>
        </div> -->
       
        <div class="containerSixContent">
            <div class="containerSixLeft">
                    <div class="containerSixLeftAbove">
                        <img src="assets/23.jpg">
                    </div>
                    <div class="containerSixLeftBelow">
                        <div class="containerSixLeftBelowImg">
                            <img src="assets/rty-min.49f7c6c4.jpg">
                        </div>
                        <div class="containerSixLeftBelowContent">
                            <h4><span class="containerSixLeftBelowContentStyle">Virtual  </span>Classroom</h4>
                            <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        </div>
                    </div>
            </div>
            <div class="containerSixRight">
                    <div class="containerSixRightAbove">
                        <div class="containerSixRightAboveContent">
                            <h4><span class="containerSixLeftBelowContentStyle">Modern  </span>Education</h4>
                            <p>Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                            <p>Images from  <a class="textBorder">Freepik</a></p>
                        </div>
                        <div class="containerSixRightAboveContentImg">
                            <img src="assets/pexels-photo-6412481.b95c5fb2.jpeg">
                        </div>
                    </div>
                    <div class="containerSixRightBelow">
                        <img src="assets/w3-min.ccf00c06.jpg">
                    </div>
            </div>
        </div>
    </div>
    <div class="containerSeven">
        <div  class="containerSevenTop">
                <div class="u-shape u-shape-svg u-text-palette-4-base u-shape-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 80" x="0px" y="0px" id="svg-0b7f" style="enable-background:new 0 0 160 80;">
                        <path d="M160,0H0c0,44.2,35.8,80,80,80S160,44.2,160,0z" fill="#89d0ca"></path>
                    </svg>
                </div>
        </div>
        <div class="containerSevenCardsContentDiv">
            <div>
                <div class="containerSevenTopContent">
                    <h3>Education and Learning</h3>
                    <p>Learning is something we do almost every day</p>
                </div>
            </div>
          <div class="containerSevenCardsContent">
            <div class="containerSevenCards">
                <h2>01</h2>
                <h5>Teaching</h5>
                <p class="containerSevenCardsPara">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                <p class="containerSevenCardsbtn"><a>LEARN MORE</a></p>
            </div>
            <div class="containerSevenCards">
                <h2>02</h2>
                <h5>Teaching</h5>
                <p class="containerSevenCardsPara">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                <p class="containerSevenCardsbtn"><a>LEARN MORE</a></p>
            </div>
            <div class="containerSevenCards">
                <h2>03</h2>
                <h5>Teaching</h5>
                <p class="containerSevenCardsPara">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                <p class="containerSevenCardsbtn"><a>LEARN MORE</a></p>
            </div>
            <div class="containerSevenCards">
                <h2>04</h2>
                <h5>Teaching</h5>
                <p class="containerSevenCardsPara">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                <p class="containerSevenCardsbtn"><a>LEARN MORE</a></p>
            </div>
        </div>
    </div>
    </div>
    <div class="containerEight">
        <diV class="containerEightTop">
            <div class="containerEightTopLeft">
                <img src="assets/wqe-min.jpg">
            </div>
            <div class="containerEightTopRight">
                <h1>CONTACT US</h1>
                <div class="input-container">
                    <input type="text" id="name" placeholder="Enter your Name">
                </div>
                <div class="input-container">
                    <input type="email" id="email" placeholder="Enter a valid email address">
                </div>
                <div class="input-container">
                    <textarea id="message" placeholder="Enter a message"></textarea>
                </div>
                <a class="containerEightbtn">SUBMIT</a>
                <p>Images from  <a class="textBorder">Freepik</a></p>
            </div>
            <div class="containerEightBottom">
                    <div class="info-item">
                        <div class="contactDetails">
                            <i class="fas fa-phone"></i>
                            <h3>Call Us</h3>
                        </div>
                        <p>1 (234) 567-891, 1 (234) 987-654</p>
                    </div>
                    <div class="info-item">
                        
                        <div class="contactDetails">
                            <i class="fas fa-map-marker-alt"></i>
                            <h3>Location</h3>
                        </div>
                        <p>121 Rock Street, 21 Avenue, New York, NY 92103-9000</p>

                    </div>
                    <div class="info-item">
                        
                        <div class="contactDetails">
                            <i class="fas fa-clock"></i>
                            <h3>Business Hours</h3>
                            
                        </div>
                        <p>Mon – Fri …… 10 am – 8 pm, Sat, Sun ....… Closed</p>
                    </div>
                </div>
            
        </diV>
    </div>
    <div class="footer">
        <p>Sample text. Click to select the text box. Click again or double</p>
        <p class="footerText">click to start editing the text.</p>
        <p><a href="#">Website Templates </a>created with <a>Website Builder Software.</a></p>
    </div>
</section>
  